/* Elastislide Style */
.rg-thumbs {
    display: none;
}

.es-carousel-wrapper {
    background: rgb(49, 60, 69);
    padding: 10px 27px;
    position: relative;
    margin-bottom: 20px;
    border: solid 1px white;
    height: 68px;
}

.es-carousel {
    overflow: hidden;
    background: #313c45;
}

    .es-carousel ul {
        display: none;
    }

        .es-carousel ul li {
            height: 100%;
            float: left;
            display: block;
        }

            .es-carousel ul li a {
                display: block;
                border-style: solid;
                border-color: #313c45;
                opacity: 0.8;
                -webkit-touch-callout: none;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
            }

            .es-carousel ul li.selected a {
                border-color: #fff;
                opacity: 1.0;
            }

            .es-carousel ul li a img {
                border: none;
                max-height: 100%;
                max-width: 100%;
            }

.es-nav span {
    position: absolute;
    top: 50%;
    left: 8px;
    background: transparent url(../../images/nav_thumbs.png) no-repeat top left;
    width: 14px;
    height: 26px;
    margin-top: -13px;
    text-indent: -9000px;
    cursor: pointer;
    opacity: 0.8;
}

    .es-nav span.es-nav-next {
        right: 8px;
        left: auto;
        background-position: top right;
    }

    .es-nav span:hover {
        opacity: 1.0;
    }

.rg-image-wrapper {
    position: relative;
    padding: 20px 30px;
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiZGBgyGYgEzAxUABGNY9qHtWMBQAEGAC2BACJYoB5VwAAAABJRU5ErkJggg==') /*../../images/black.png*/ repeat top left;
    *background: transparent url(../../images/black.png) repeat top left; /* For IE 6 and 7 */
    min-height: 20px;
    height: 580px;
}

.rg-count {
    width: 100%;
    text-align: center;
    margin-top: -20px;
    color: rgba(250, 250, 250, 0.5);
    font-size: 14px;
}

.rg-image {
    position: relative;
    text-align: center;
    line-height: 0px;
    height: 520px;
}

    .rg-image img {
        max-height: 520px;
        max-width: 100%;
    }

.rg-image-nav a {
    position: absolute;
    top: 0;
    left: 0;
    background: #313c45 url(../../images/nav.png) no-repeat -20% 50%;
    width: 28px;
    height: 100%;
    text-indent: -9000px;
    cursor: pointer;
    -ms-opacity: 0.3;
    opacity: 0.3;
    outline: none;
}

.rg-image-nav a.rg-image-nav-next {
        right: 0px;
        left: auto;
        background-position: 115% 50%;
    }

    .rg-image-nav a:hover {
        -ms-opacity: 0.8;
        opacity: 0.8;
    }

.rg-caption {
    text-align: center;
    margin-top: 15px;
    position: relative;
}

    .rg-caption p {
        font-size: 1em;
        line-height: 16px;
        padding: 0 15px;
    }

.rg-loading {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #313c45 url(../../images/ajax-loader.gif) no-repeat center center;
    margin: -23px 0px 0px -23px;
    z-index: 100;
    -ms-opacity: 0.7;
    opacity: 0.7;
}
