#snapshot {
    overflow: hidden;
}
#text {
    position: relative;
}

.labels {
    color: #fff;
}

.continent {
    position: absolute;
}

.pin, .upperpin {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: rgba(56,135,190, 0.5);
    position: relative;
}

.upperpin {
    background-color: rgba(56,135,190, 0);
    z-index: 2;
    top: -10px;
    left: -10px;
    width: 50px;
    height: 50px;
    position: absolute;
}

.inpin {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(56,190,111, 0.5);
    position: relative;
}

#europe {
    top: 35%;
    left: 50%;
}

 #europe .markets-details {
        top: -50px;
    }

        #europe .markets-details:after {
            top: 40px;
        }

#northamerica {
    top: 35%;
    left: 18%;
}
 #northamerica .markets-details {
    top: -50px;
}

#northamerica .markets-details:after {
    top: 40px;
}
   

#australia {
    top: 72%;
    left: 80%;
}

    #australia .markets-details {
        height: 280px;
        top: -280px;
        left: auto;
        right: 340px;
    }

        #australia .markets-details:after {
            border-right-color: transparent;
            border-left-color: rgb(255, 255, 255);
            right: auto;
            left: 100%;
            top: 270px;
        }


#southamerica {
    top: 70%;
    left: 32%;
}

    #southamerica .markets-details {
        height: 280px;
        top: -280px;
        left: 40px;
    }

        #southamerica .markets-details:after {
            top: 270px;
        }

#africa {
    top: 55%;
    left: 53%;
}

#africa .markets-details {
    height: 280px;
    top: -280px;
    left: 40px;
}

#africa .markets-details:after {
    top: 270px;
}

#asia {
    top: 44%;
    left: 65%;
}

.markets-details {
    z-index: 1000;
    width: 300px;
    height: 300px;
    display: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(45, 46, 56);
    position: relative;
    top: -170px;
    left: 40px;
    padding: 10px;
    color: rgb(45, 46, 56);
}

    .markets-details:after {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255 255, 0);
        border-right-color: rgb(255, 255, 255);
        border-width: 20px;
        top: 50%;
        margin-top: -25px;
    }

.nav-wrap {
    display:none !important;
    height: 25px;
    background-color: #ffffff;
    display: inline-block;
    float: right;
}

.details-wrap {
    width: 100%;
    overflow-y: scroll;
    height: calc(100% - 20px);
    position: relative;
    display: inline-block;
}

.dsep {
    float: left;
    width: 5%;
    margin-top: 1px;
}

.dsepin {
    border-left: 1px dotted #333;
    float: left;
    height: 18px;
    margin-left: 1px;
}

.pointer-wrap {
    margin-bottom: -10px;
    padding-top: 0;
    text-align:center;
}

.pointer {
    width: 30px;
    height: 30px;
    display: inline-block;
    top: 8px;
    position: relative;
    margin-right: 2px;
}

    .pointer .pin {
        background-color: rgba(47,99,134, 0.5);
    }

.showoff {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

    .showoff span {
        font-size: 18px;
        color: #ddd;
    }


.header-wrap {
    height: 25px;
    background-color: #ffffff;
    /*display: inline-block;*/
    border-bottom: 2px solid #333;
    width: 280px;
}

    .header-wrap h1 {
        font-size: 12px;
        float: left;
        width: 50%;
        margin-top:4px;
    }

.with-market h1 {
    width: 38% !important;
}

.selecter {
    float: left;
    width: 50% !important;
}

.header-wrap .close {
    font-size: 28px;
    float: right;
    margin-top: 9px;
    width: 20px;
    text-align: right;
    line-height: 1px;
    cursor: pointer;
}

.with-market .close {
    width: 5% !important;
}

.details {
    margin-top: 0px !important;
    top: 0;
    position: relative;
    width: 100%;
}

    .details tr th {
        width: 50%;
        padding: 2px;
        border: solid 1px #fff;
        text-align: left;
        font-weight: bold;
        background-color: #dbdbdb;
    }

    .details tr td {
        width: 50%;
        padding: 2px;
        border: solid 1px #fff;
        background-color: #ebebeb;
    }

        .details tr td.gray {
            background-color: #dbdbdb;
        }

        .details tr td.white {
            background-color: #fff;
        }



.up, .down {
    border-style: solid;
    border-color: transparent;
    border-width: 0.53em;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 14px;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: middle;
    width: 0;
}

.up {
    border-bottom-width: 1em;
    border-bottom-style: solid;
    border-bottom-color: rgb(45, 46, 56);
    bottom: 0.25em;
    float: right;
    margin-right: 7px;
}

.down {
    border-top-width: 1em;
    border-top-style: solid;
    border-top-color: rgb(45, 46, 56);
    bottom: 0.25em;
    float: right;
    margin-top: 7px;
}

.details-wrap .indicator {
    position: absolute;
    top: 0;
    right: 4px;
    width: 6px;
    height: 12px;
    border-radius: 6px;
    background-color: rgb(45, 46, 56);
    z-index: 4;
    display:none !important;
}

.selecter-element {
    display: none;
}

    .selecter .selecter-selected {
        background: #F9F9F9 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAFCAYAAACw/UeDAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAKwwAACsMBNCkkqwAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAVdEVYdENyZWF0aW9uIFRpbWUANy8yMy8xMkOosCcAAABNSURBVBiVpc8xCgAhDETRHy+6VsmZ0q0nzTYqIqwWmSoMA4+Iu7/AwzlNVetl8xsBuEApYCIHKA0AlHGYWQXaCvQuHdmL/tFAiYg08gGYkBpnmSGB2wAAAABJRU5ErkJggg==') no-repeat right center;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: #333;
        cursor: pointer;
        display: block;
        font-size: 12px;
        margin: 0;
        overflow: hidden;
        padding: 1px;
        position: relative;
        text-overflow: clip;
        z-index: 49;
    }

    .selecter .selecter-options {
        border: 1px solid #ccc;
        border-width: 0 1px 1px;
        background-color: #fefefe;
        border-radius: 0 0 3px 3px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
        display: none;
        margin: 0;
        max-height: 260px;
        overflow: auto;
        overflow-x: hidden;
        padding: 0;
        position: absolute;
        width: 47%;
        z-index: 50;
    }

    .selecter .selecter-item {
        background: #fff;
        border-bottom: 1px solid #e3e3e3;
        color: #666;
        cursor: pointer;
        display: block;
        font-size: 13px;
        margin: 0;
        overflow: hidden;
        padding: 1px 2px;
        text-overflow: ellipsis;
        width: 100%;
    }

        .selecter .selecter-item.selected, .selecter .selecter-item:hover {
            background: #F9F9F9;
        }

        .selecter .selecter-item.first {
            border-radius: 0;
        }

        .selecter .selecter-item.last {
            border-radius: 0 0 2px 2px;
            border-bottom: 0;
        }


@media only screen and (max-width:767px) {

     .markets-details {
        width: auto!important;
        height: auto!important;
        position: fixed;
        top: 62px!important;
        bottom: 0;
        left: 0!important;
        right: 0!important;
        padding: 10px;
        margin: 0!important;
    }

        .markets-details .header-wrap {
            width: 100%;
        }

        .markets-details .nav-wrap {
            display: none;
        }

    .indicator {
        display: none;
    }

    .details-wrap {
        width: 100%;
        overflow-y: scroll;
        height: calc(100% - 20px);
    }

    .details {
        width: 100%;
    }
}