body{ font-size: 16px; font-family: 'Open Sans', sans-serif; width: 100%; height: 100%; margin: 0; font-weight: 400; overflow: hidden;
-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word;
color: #333; }

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button{ margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6{ line-height: 1.5; font-weight: inherit; }

h1,h2,h3{ font-family: 'Poppins', sans-serif; }

p{ line-height: 1.6; font-size: 1.05em; font-weight: 400; color: #555; }

h1{ font-size: 3.5em; line-height: 1; }
h2{ font-size: 3em; line-height: 1.1; }
h3{ font-size: 2.5em; }
h4{ font-size: 1.5em; }
h5{ font-size: 1.2em; }
h6{ font-size: .9em; letter-spacing: 1px; }

a, button{ display: inline-block; text-decoration: none; color: inherit; transition: all .3s; line-height: 1; }

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #E45F74; }

b{ font-weight: 500;}
.title {font-size: 35px;}

img{ width: 400px; margin: 3% 0 30px 0;}
@media only screen and (max-width: 600px) {
	img {width: 300px; margin: 40% 0 50px 0;}
	.title {font-size: 30px;}
}
li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; }

b.light-color{ color: #444; }

.icon{ font-size: 1.1em; display: inline-block; line-height: inherit; }

[class^="icon-"]:before, [class*=" icon-"]:before{ line-height: inherit; }

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;} 

	.center-text{ text-align: center; } 

	::-webkit-input-placeholder { font-size: .9em; letter-spacing: 1px; }

	::-moz-placeholder { font-size: .9em; letter-spacing: 1px; }

	:-ms-input-placeholder { font-size: .9em; letter-spacing: 1px; }

	:-moz-placeholder { font-size: .9em; letter-spacing: 1px; }


	.full-height{ height: 100%; }

	.position-static{ position: static; }

	.font-white{ color: #fff; }

	.main-area{ position: relative; height: 100vh; z-index: 1; padding: 0 20px; background-size: cover; color: #fff; }

	.main-area:after{ content:''; position: absolute; top: 0; bottom: 0;left: 0; right: 0; z-index: -1;  
	opacity: .4; background: #000; }

	.main-area .desc{ margin: 20px auto; max-width: 500px; }

	.main-area .notify-btn{ padding: 13px 35px; border-radius: 50px; border: 2px solid #ae0002;
		color: #fff; background: #ae0002; margin-top: 5px;}

		.main-area .notify-btn:hover{ background: none; }

		.main-area .social-btn{ position: absolute; margin-top: 50px; width: 100%; left: 50%; transform: translateX(-50%); }

		.main-area .social-btn > li > a{ margin: 0 10px; padding-bottom: 7px; position: relative; overflow: hidden; }

		.main-area .social-btn > li > a:after{ content:''; position: absolute; bottom: 0; left: 0; right: 0; 
		transition: all .2s; height: 2px; background: #ae0002; }

		
		.main-area .social-btn > li > a:hover:after{ transform: translateX(100%); }


		@media only screen and (max-width: 767px) {
			
			p{ line-height: 1.4; }

			h1{ font-size: 2.8em; line-height: 1; }
			h2{ font-size: 2.2em; line-height: 1.1; }
			h3{ font-size: 1.8em; }
		}

		@media only screen and (max-width: 479px) {

			body{ font-size: 12px; }
			
		}

		.confirm {
			border-radius: 50px;
		}

		/*Privacy*/

		body.privacy {
			font-size: 12px; font-family: 'Open Sans', sans-serif; width: 100%; height: 100%; margin: 0; font-weight: 400; overflow: auto;
			background-color: #1F1F1F;
		}

		h1.privacy {
			font-size: 16px; padding: 40px 0 10px 0;
		}

		p.privacy {
			text-align: justify;
		}

		.main-area-privacy{ position: relative; height: 100%; z-index: 1; padding: 0 20px; background-size: cover; color: #fff; }

		.main-area-privacy:after{ content:''; position: absolute; top: 0; bottom: 0;left: 0; right: 0; z-index: -1;  
		opacity: .4; background: inherit; }

		.main-area-privacy .desc{ margin: 20px auto; max-width: 500px; }

		#contactForm {
			width: 800px;
			margin: 0 auto;
		}
		.inputEntity {
			margin-bottom: 20px;
			position: relative;
		}
		.inputEntity input[type=text], .inputEntity textarea {
			border: 1px solid #e8e8e8;
			border-radius: 2px;
			display: block;
			width: 100%;
			padding: 0 10px;
			height: 40px;
		}
		.errorInput {
			border: 1px solid #e33c3c !important;
		}
		.inputEntity textarea {
			height: 80px;
			margin: 0;
			padding: 10px;
		}
		.inputEntity label {
			display: block;
			margin-bottom: 5px;
			font-size: 15px;
			font-weight: normal;
			line-height: 19px;
		}
		.erroMessage {
			position: absolute;
			bottom: 100%;
			left: 0;
			padding-top: 5px;
			color: #e33c3c;
			font-weight: 600;
			font-size: 11px;
		}
		label + .erroMessage {
			bottom: inherit;
			top: 0;
			right: 0;
			left: inherit;
		}
		.formActions {
			text-align: right;
		}

		.stackedInput, ul.stackedInput li {
			display: inline-block;
			margin-right: 15px;
		}

		::-webkit-input-placeholder {
			color:#868686;
			-webkit-opacity:1 !important;
		}
		::-moz-placeholder {
			color:#868686;
			opacity:1 !important;
		}
		:-ms-input-placeholder {
			color:#868686;
			-ms-opacity:1 !important;
		}
		input:-moz-placeholder {
			color:#868686;
			-moz-opacity:1 !important;
		}
		.primaryBtn{ 
			padding: 13px 35px; 
			border-radius: 50px; 
			border: 2px solid #ae0002;
			color: #fff; 
			background: #ae0002; 
			margin-top: 5px;
			transition: all .3s;
			cursor: pointer;
		}
		.primaryBtn:hover{ 
			color: #ae0002; 
			background: #fff; 
		}

		@media all and(max-width: 992px) {
			#contactForm {
				width: 100%;
				margin: 0 auto;
				padding: 20px;
			}
			.primaryBtn {
				width: 100%;
				margin-bottom: 20px;
			}
			.inputEntity input[type=text],
			.inputEntity textarea {
				outline: none;
			}
		}