@font-face {
    font-family: "roboto-thin";
    src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
    font-family: "roboto-light";
    src: url("../fonts/Roboto-Light.ttf");
}

body {
    height: 100%;
    background-color: #eeeff4;
    font-family: roboto-thin;
    font-size: 13pt;
    line-height: 1.65;
}

@media screen and (max-width: 1280px) {

    body {
        font-size: 12pt;
    }

}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: dotted 1px #000000;
}

a:hover {
    color: #af8b6a;
    border-bottom-color: transparent;
}

h1 {
    color: #000000;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.75em;
}

@media screen and (max-width: 980px) {

    h1 {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 736px) {

    h1 {
        font-size: 1.4em;
    }

}

h2 {
    color: #000000;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h2 a {
    color: inherit;
    text-decoration: none;
}


h2 {
    font-size: 1.4em;
}

@media screen and (max-width: 980px) {

    h2 {
        font-size: 1.2em;
    }

}

@media screen and (max-width: 736px) {

    h2 {
        font-size: 1.1em;
    }

}

strong {
    color: #af8b6a;
    font-family: roboto-light;
}

/* Message */

#message {
    text-align: left;
    text-align: justify;
    margin: 10% 25%;
}

@media screen and (max-width: 1280px) {

    #message {
        margin: 15% 20%;
    }
}

@media screen and (max-width: 736px) {

    #message {
        margin: 25% 10%;
    }
}

.confirm {
    border-radius: 3px;
}

.loader {
                display:block;
    margin: 0 auto;
    position: relative;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('../img/loader.gif') #eeeff4;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;

        }