<div id="skrollr-body">
    <header>
        <div class="wrap clearfix">
            <div class="arrow a0 hidden-phone"></div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="logo">
                            <a href="#">
                                <img src="images/logo_step.svg" onerror="this.onerror=null; this.src='images/logo_step.png';" alt="STeP" />
                            </a>
                        </div>
                        <div id="menu" class="icon-menu icon-3x"></div>
                        <nav>
                            <ul>
                                <li data-href="#flash" class="Flash"><a>Flash News</a></li>
                                <li data-href="#about"><a>Who we are</a></li>
                                <li data-href="#users"><a>Our users</a></li>
                                <li data-href="#services"><a>Services</a></li>
                                <li data-href="#demo"><a>Solutions</a></li>
                                <li data-href="#talk"><a>Get in touch</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="flash">
        <div class="inner-section">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="frame">
                            <span class="large" data-center-bottom="transform: translate(0px, 0px);" data-top-top="transform: translate(0px, 15px);">We Develop, Deliver and Maintain</span><br />
                            <span class="large" data-center-bottom="transform: translate(0px, 0px);" data-top-top="transform: translate(0px, 30px);">"Systems That Perform"</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="indicator hidden-phone"></div>
    </section>

    <section id="about">
        <div class="inner-section">
            <div class="container-fluid">
                <div class="row-fluid" data-bottom-top="transform: translate(0%, 0%);" data-center-top="transform: translate(0%, 20%);">
                    <div class="span10 offset1">
                        <h1>we are an 
                                <span class="highlight" data-hs="t1" data-bottom-top="transform: translate(0px, -100px); opacity:0;" data-100-center="transform: translate(0px, 0px);opacity:1;">IT Research</span>
                            &amp; 
                                <span class="highlight" data-hs="t1" data-bottom-top="transform: translate(0px, -120px); opacity:0;" data-100-center="transform: translate(0px, 0px);opacity:1;">Development</span>
                            Company with a specific Scope of 
                                <span class="highlight" data-hs="t2" data-bottom-top="transform: translate(0px, -90px); opacity:0;" data-100-center="transform: translate(0px, 0px);opacity:1;">Services</span>
                            &amp; 
                                <span class="highlight" data-hs="t3" data-bottom-top="transform: translate(0px, 100px); opacity:0;" data-100-center="transform: translate(0px, 0px);opacity:1;">Solutions</span>.</h1>

                        <p data-bottom-top="transform: translate(0px, 100px); opacity:0;" data-100-center="transform: translate(0px, 0px);opacity:1;">
                            <span class="toh" id="t1">We build on 15 years of global experience to deliver systems that improve performance in areas of Marketing & Business Process Automation.</span>
                            <br />
                            <span class="toh" id="t2"><span class="blue"><i class="icon-puzzle"></i>&nbsp;Support & Services</span>: Web and Desktop Development | Mobile Application Development | IT consultancy, Maintenance & Support | Server Admin. 
                            </span>
                            <br />
                            <span class="toh" id="t3"><span class="blue"><i class="icon-cog-alt"></i>&nbsp;Products & Solutions</span>: Research and Statistics | 
                                Business Intelligence | Information Management Solutions | 
                                Online Management Portals | Data Collection | Data Warehousing | 
                                Data Processing | Dash-boarding | Analysis and Reporting Applications.</span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="indicator hidden-phone"></div>
    </section>

    <section id="users">
        <div class="inner-section">
            <h1 id="global" data-100-bottom="transform: scale(30.0,30.0);" data-250-top="transform:scale(1.0,1.0);">Global user base</h1>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span10 offset1">
                        <div class="users" data-220-center="transform: translate(0px, 100px); opacity:0;" data-190-center="transform: translate(0px, 0px);opacity:1;">
                            <ul>
                                <li>
                                    <span class="wrap">
                                        <a href="http://amorepacific.com/" target="_blank">
                                            <img class="lazyload" src="" width="150" height="38" data-src="images/logos/amorepacific.png" alt="Amore Pacific">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.heineken.com/" target="_blank">
                                            <img class="lazyload" src="" width="150" height="53" data-src="images/logos/heineken.png" alt="Heineken">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.astrazeneca.com/" target="_blank">
                                            <img class="lazyload" src="" width="150" height="43" data-src="images/logos/az.png" alt="AstraZeneca">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.hyundai.com/" target="_blank">
                                            <img class="lazyload" src="" width="150" height="67" data-src="images/logos/hmc.png" alt="HMC">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.apb.com.sg/" target="_blank">
                                            <img class="lazyload" src="" width="121" height="111" data-src="images/logos/apb.png" alt="Asia Pacific Breweries">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.sasserathmunzingerplus.com/" target="_blank">
                                            <img class="lazyload" width="150" height="88" src="" data-src="images/logos/sm.png" alt="Sasserath Muzinger Plus">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.omv.com/" target="_blank">
                                            <img class="lazyload" width="150" height="107" src="" data-src="images/logos/omv.png" alt="OMV">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.sabmiller.com/" target="_blank">
                                            <img class="lazyload" src="" width="150" height="104" data-src="images/logos/sab.png" alt="Sab Miller">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.zenithoptimedia.com/" target="_blank">
                                            <img class="lazyload" src="" width="150" height="44" data-src="images/logos/zenith.png" alt="Zenith Optimedia">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.dentsu.com/" target="_blank">
                                            <img class="lazyload" src="" width="150" height="33" data-src="images/logos/dentsu.png" alt="Dentsu">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.umww.com/" target="_blank">
                                            <img class="lazyload" src="" width="100" height="100" data-src="images/logos/um.png" alt="Universal Mccann">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.tnsglobal.com/" target="_blank">
                                            <img class="lazyload" width="100" height="101" src="" data-src="images/logos/tns.png" alt="TNS">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.libertadsa.com.ar/" target="_blank">
                                            <img class="lazyload" width="150" height="66" src="" data-src="images/logos/libertad.png" alt="Libertad">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">

                                        <a href="http://www.goodyear.com/" target="_blank">
                                            <img class="lazyload" src="" width="150" height="28" data-src="images/logos/goodyear.png" alt="Goodyear">
                                        </a>

                                    </span>
                                </li>
                                <li>
                                    <span class="wrap">
                                        <a href="http://www.chalhoubgroup.com/" target="_blank">
                                            <img class="lazyload" src="" width="127" height="114" data-src="images/logos/chalhoub.png" alt="Chalhoub">
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="indicator hidden-phone"></div>
    </section>

    <section id="services">
        <div class="inner-section">
            <div class="container">
                <div class="row section-header">
                    <div class="span3 hidden-phone">
                        <label><i class="icon-puzzle icon-5x"></i></label>
                    </div>
                    <div class="span6">
                        <h1 class="title" data-bottom-top="transform: translate(0px, -100px); opacity:0;" data-100-center="transform: translate(0px, 0px);opacity:1;">

                            <i class="icon-puzzle hidden-desktop hidden-tablet"></i>

                            Services
                        </h1>
                    </div>
                </div>

                <div class="row service" data-100-bottom="transform: translate(0px, 170px);" data--80-bottom="transform: translate(0px, 0px);">
                    <div class="span1 offset2 hidden-phone">
                        <i class="icon-code icon-4x"></i>
                    </div>
                    <div class="span8">
                        <h3>Web and Desktop Development</h3>
                        <h5>Variety of web applications and Portals</h5>
                    </div>
                </div>
                <div class="row service" data-100-bottom="transform: translate(0px, 170px);" data--80-bottom="transform: translate(0px, 0px);">
                    <div class="span1 offset2 hidden-phone">
                        <i class="icon-mobile icon-4x"></i>
                    </div>
                    <div class="span8">
                        <h3>Mobile Application Development</h3>
                        <h5>Custom applications development across multiple platforms</h5>
                    </div>
                </div>

                <div class="row service" data-100-bottom="transform: translate(0px, 170px);" data--80-bottom="transform: translate(0px, 0px);">
                    <div class="span1 offset2 hidden-phone">
                        <i class="icon-cog icon-4x"></i>
                    </div>
                    <div class="span8">
                        <h3>IT consultancy, Maintenance & Support </h3>
                        <h5>A wide range of services and consultancy for fixed setups and Roaming Executives</h5>
                    </div>
                </div>

                <div class="row service" data-100-bottom="transform: translate(0px, 170px);" data-0-bottom="transform: translate(0px, 0px);">
                    <div class="span1 offset2 hidden-phone">
                        <i class="icon-laptop icon-4x"></i>
                    </div>
                    <div class="span8">
                        <h3>Server Administration</h3>
                        <h5>Extending support and Consultancy for IT Infrastructure and Microsoft and Linux system administration</h5>
                    </div>
                </div>
            </div>

        </div>
        <div class="indicator hidden-phone"></div>
    </section>

    <section id="demo">
        <div class="inner-section">
            <div class="container">
                <div class="row section-header">
                    <div class="span3 hidden-phone">
                        <label><i class="icon-cog-alt icon-5x"></i></label>
                    </div>
                    <div class="span6">
                        <h1 class="title" data-bottom-top="transform: translate(0px, -100px); opacity:0;" data-100-center="transform: translate(0px, 0px);opacity:1;">

                            <i class="icon-cog-alt hidden-desktop hidden-tablet"></i>

                            Solutions
                        </h1>
                    </div>
                </div>
                <div class="row demo-cards">
                    <div class="span3">
                        <div class="card" data-bottom="" data-top-bottom="" id="bi">
                            <div class="icon hidden-phone">
                                <i class="icon-list-alt icon-4x"></i>
                            </div>
                            <div class="description">
                                <h4>Business Intelligence &amp; Report Automation</h4>
                                <a href="#middle-bi" class="btn">Learn More</a>
                            </div>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div class="span3">
                        <div class="card" data-bottom="" data-top-bottom="" id="pm">
                            <div class="icon hidden-phone">
                                <i class="icon-list-numbered icon-4x"></i>
                            </div>
                            <div class="description">
                                <h4>Process Management &amp; Marketing Automation</h4>

                                <a href="#middle-pm" class="btn">Learn More</a>
                            </div>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div class="span3">
                        <div class="card" data-bottom="" data-top-bottom="" id="rp">
                            <div class="icon hidden-phone">
                                <i class="icon-chart-bar icon-4x"></i>
                            </div>
                            <div class="description">
                                <h4>Research &amp; Statistical Reports</h4>
                                <a href="#middle-rp" class="btn">Learn More</a>
                            </div>
                        </div>
                        <div class="arrow"></div>
                    </div>

                    <div class="span3">
                        <div class="card" data-bottom="" data-top-bottom="" id="ka">
                            <div class="icon hidden-phone">
                                <i class="icon-box icon-4x"></i>
                            </div>
                            <div class="description">
                                <h4>Knowledge Management &amp; Archival</h4>
                                <a href="#middle-ka" class="btn">Learn More</a>
                            </div>
                        </div>
                        <div class="arrow"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="middle" id="middle-bi">
                    <div class="row hidden-desktop">
                        <div class="span12">
                            <h3 class="long">Business Intelligence &amp; Report Automation</h3>
                            <ul class="nav nav-tabs tools" data-section="bi">
                                <li class="active"><a href="#" data-app="qd">Data Acquisition</a></li>
                                <li><a href="#" data-app="ra">Reporting & Dashboarding</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3 details hidden-phone hidden-tablet">
                            <h3>Business Intelligence &amp; Report Automation</h3>
                            <ul class="nav nav-tabs nav-stacked tools" data-section="bi">
                                <li class="active"><a href="#" data-app="qd">Data Acquisition</a></li>
                                <li><a href="#" data-app="ra">Reporting & Dashboarding</a></li>
                            </ul>
                        </div>
                        <div class="span9 showcase">
                            <div id="gallery-bi" class="rg-gallery">
                            </div>
                        </div>
                        <div class="close">&times;</div>
                    </div>
                </div>
                <div class="middle" id="middle-pm">
                    <div class="row hidden-desktop">
                        <div class="span12">
                            <h3>Process Management</h3>
                            <ul class="nav nav-tabs tools" data-section="pm">
                                <li class="active"><a href="#" data-app="qd">Questionnaire Designer</a></li>
                                <li><a href="#" data-app="cd">Questionnaire Coding</a></li>
                                <li><a href="#" data-app="ct">Cross Tabbing</a></li>
                                <li><a href="#" data-app="dp">Research Data Processing</a></li>
                                <li><a href="#" data-app="dv">Research Data Validation and Integrity</a></li>
                                <li><a href="#" data-app="we">Workflow Managment</a></li>
                                <li><a href="#" data-app="pts">Progress Tracking</a></li>
                                <li><a href="#" data-app="ra">Reporting & Dashboarding</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3 details  hidden-phone hidden-tablet">
                            <h3>Process Management</h3>
                            <ul class="nav nav-tabs nav-stacked tools" data-section="pm">
                                <li class="active"><a href="#" data-app="qd">Questionnaire Designer</a></li>
                                <li><a href="#" data-app="cd">Questionnaire Coding</a></li>
                                <li><a href="#" data-app="ct">Cross Tabbing</a></li>
                                <li><a href="#" data-app="dp">Research Data Processing</a></li>
                                <li><a href="#" data-app="dv">Research Data Validation and Integrity</a></li>
                                <li><a href="#" data-app="we">Workflow Managment</a></li>
                                <li><a href="#" data-app="pts">Progress Tracking</a></li>
                                <li><a href="#" data-app="ra">Reporting & Dashboarding</a></li>
                            </ul>
                        </div>
                        <div class="span9 showcase">
                            <div id="gallery-pm" class="rg-gallery">
                            </div>
                        </div>
                        <div class="close">&times;</div>
                    </div>
                </div>

                <div class="middle" id="middle-rp">
                    <div class="row hidden-desktop">
                        <div class="span12">
                            <h3>Research &amp; Statistical Reports</h3>
                            <ul class="nav nav-tabs tools" data-section="rp">
                                <li class="active"><a href="#" data-app="nb">Norms and Benchmarks</a></li>
                                <li><a href="#" data-app="turf">Turf</a></li>
                                <li><a href="#" data-app="hc">Bootstrap</a></li>
                                <li><a href="#" data-app="bot">Confidence Interval</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3 details  hidden-phone hidden-tablet">
                            <h3>Research &amp; Statistical Reports</h3>
                            <ul class="nav nav-tabs nav-stacked tools" data-section="rp">
                                <li class="active"><a href="#" data-app="nb">Norms and Benchmarks</a></li>
                                <li><a href="#" data-app="turf">Turf</a></li>
                                <li><a href="#" data-app="hc">Bootstrap</a></li>
                                <li><a href="#" data-app="bot">Confidence Interval</a></li>
                            </ul>
                        </div>
                        <div class="span9 showcase">
                            <div id="gallery-rp" class="rg-gallery">
                            </div>
                        </div>
                        <div class="close">&times;</div>
                    </div>
                </div>

                <div class="middle" id="middle-ka">
                    <div class="row hidden-desktop">
                        <div class="span12">
                            <h3 class="text-medium">Knowledge Management &amp; Archival</h3>
                            <ul class="nav nav-tabs tools" data-section="ka">
                                <li class="active"><a href="#" data-app="cms">Content Management System</a></li>
                                <li><a href="#" data-app="es">E-Learning</a></li>
                                <li><a href="#" data-app="eb">Electronic Books</a></li>
                                <li><a href="#" data-app="dms">Document Management</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3 details  hidden-phone hidden-tablet">
                            <h3 class="text-medium">Knowledge Management &amp; Archival</h3>
                            <ul class="nav nav-tabs nav-stacked tools" data-section="ka">
                                <li class="active"><a href="#" data-app="cms">Content Management System</a></li>
                                <li><a href="#" data-app="es">E-Learning</a></li>
                                <li><a href="#" data-app="eb">Electronic Books</a></li>
                                <li><a href="#" data-app="dms">Document Management</a></li>
                            </ul>
                        </div>
                        <div class="span9 showcase">
                            <div id="gallery-ka" class="rg-gallery">
                            </div>
                        </div>
                        <div class="close">&times;</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="indicator hidden-phone"></div>
    </section>

    <section id="talk">
        <div class="inner-section">
            <div class="container">
                <div class="row  section-header">
                    <div class="control-group span3 hidden-phone">
                        <label><i class="icon-chat icon-5x"></i></label>
                    </div>
                    <div class="control-group span6">
                        <h1 class="title" data-bottom-top="transform: translate(0px, -100px); opacity:0;" data-100-center="transform: translate(0px, 0px);opacity:1;">
                            <i class="icon-chat hidden-desktop hidden-tablet"></i>

                            Get in touch!
                        </h1>
                    </div>
                </div>
                <div class="row" id="talk-row">
                    <div class="span9">
                        <iframe src="" name="upload" border="0" height="0" width="0" style="visibility: hidden;"></iframe>
                        <form class="form" id="cvform" method="POST" action="ajax/mail.aspx" target="upload" enctype="multipart/form-data">
                            <div class="row">
                                <div class="control-group span3">
                                    <label for="interest">I'm interested in</label>
                                </div>
                                <div class="control-group span5">
                                    <select name="interest" id="interest">
                                        <option value="Your services" selected="selected">Your services</option>
                                        <option value="Applying for a job">Applying for a job</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-group span3">
                                    <label for="name">Name</label>
                                </div>
                                <div class="control-group span5">
                                    <span class="help-inline">Your name is required!</span>
                                    <input id="name" name="name" type="text" class="input-block-level" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-group span3">
                                    <label for="email">Email</label>
                                </div>
                                <div class="control-group span5">
                                    <span class="help-inline">Your email is required!</span>
                                    <input id="email" name="email" type="text" class="input-block-level" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="row" id="cv">
                                <div class="control-group span3">
                                    <label for="email">Attach Resume/CV</label>

                                </div>
                                <div class="control-group span5">
                                    <span class="help-inline">Please upload a Resume/CV</span>
                                    <input id="file" type="file" name="file" class="input-block-level" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-group span3">
                                    <label for="hear">How did you hear about us</label>
                                </div>
                                <div class="control-group span5">
                                    <select name="hear" id="hear">
                                        <option value="Search engine" selected="selected">Search engine</option>
                                        <option value="Link from another website">Link from another website</option>
                                        <option value="Conference">Conference</option>
                                        <option value="Word of mouth">Word of mouth</option>
                                        <option value="I'm a client">I'm a client</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-group span3">
                                    <label for="msg">Message</label>
                                </div>
                                <div class="control-group span5">
                                    <span class="help-inline">Write us anything!</span>
                                    <textarea id="msg" rows="5" placeholder="Your Message" name="msg" class="input-block-level"></textarea>

                                </div>
                            </div>
                            <div class="row">
                                <div class="control-group span5 offset3">
                                    <div class="form-actions">
                                        <div id="thanks">
                                            <h4>Thank you!</h4>
                                            Your message has been sent succesfully!
                                        </div>
                                        <a class="btn" id="send">
                                            <i class="icon-mail"></i>&nbsp;Send
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="span3">
                        <div class="location">
                            <address>
                                <strong><i class="icon-direction"></i>&nbsp;STEP Headquarters</strong><br>
                                28 Gladstonos Street<br>
                                1095 Nicosia<br>
                                Cyprus<br>
                                <abbr title="Telephone">Tel</abbr>: +357 22 662010<br>
                                Fax: +357 22 451126
                            </address>
                            <address>
                                <strong><i class="icon-cloud"></i>&nbsp;Our Data Center</strong><br>
                                Data Center - Tier Level 3<br>
                                The Maritime Center<br>
                                Limassol<br>
                                Cyprus<br>
                            </address>
                            <address>
                                <strong><i class="icon-linkedin-squared"></i>&nbsp;<a href="http://www.linkedin.com/company/step-systems-that-perform" target="_blank">LinkedIn</a></strong><br>
                            </address>
                            <address>
                                <strong><i class="icon-globe"></i>&nbsp;Our Teams</strong><br>
                                <img data-src="images/world-map.png" src="" class="lazyload" id="map" width="126" height="63" />
                            </address>
                        </div>
                        <div id="map-row">
                            <div id="closemap">&times;</div>
                            <img data-src="images/world-map-open.png" id="mapopen" width="570" height="285" />
                        </div>
                    </div>
                </div>

                <footer>
                    <div class="arrow"></div>
                    <div class="bottom">
                        <div class="container">
                            <div class="row">
                                <div class="span12">
                                    Copyright &copy; 2013 STeP
                                             <br />
                                    A subsidiary of 
                                    <a href="http://www.integration-imc.com" target="_blank">
                                        <img id="integration" src="images/logo.png" width="200" height="39" /></a>
                                    Global leader in IMC and Accountability in Marketing
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </section>
</div>
