<section class="page-content align-center">
    <h1>
        <span class="blue">Please allow pop-ups, to be able to login...</span>
    </h1>
    <div id="chrome" style="display: none">
        <h3>
            Notification icon available at the top-right of the screen.<br />
            See below...
        </h3>
        <img class="blue-border" src="images/chrome-popup.jpg" />
    </div>
    <div id="ie" style="display: none">
        <h3>
            Notification icon available at the top-right of the screen.<br />
            See below...
        </h3>
        <img class="blue-border" src="images/ie-popup.jpg" />
    </div>
</section>
<a id="A2" class="close-reveal-modal"></a>